body {
    font-family: "Lato", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 143, 143)
}

.sidebar {
    height: 100%;
    width: 285px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 1px white;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 285px;
    /* Same as the width of the sidebar */
    /* padding: 0px 10px; */
}

.search {
    height: 58px;
    width: 1637px;
    left: 283px;
    top: 0px;
    border-radius: 0px;
    background-color: #4F4F4F;
    ;
}

.quick-button {
    position: fixed;
    width: 68px;
    height: 68px;
    bottom: 27px;
    right: 34px;
    background-color: #2F80ED;
    color: #FFF;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.sub-quick-buton.active > img {

}

.sub-quick-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 31px;
    right: 128px;
    background-color: #F2F2F2;
    color: #FFF;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.inbox {
    bottom: 31px;
    right: 128px;
}

.inbox-animate-in {
    -webkit-animation-name: inboxAnimateIn;
    -webkit-animation-duration: 0.5s;

}

.inbox-animate-out {
    -webkit-animation-name: inboxAnimateOut;
    -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes inboxAnimateIn {
    0% {
        opacity: 0;
        bottom: 40px;
        right: 40px;
        z-index: -1;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        bottom: 31px;
        right: 128px;
        z-index: 1;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes inboxAnimateOut {
    0% {
        opacity: 1;
        bottom: 31px;
        right: 128px;
        z-index: 1;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    50% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        bottom: 40px;
        right: 40px;
        z-index: -1;
    }
}

.inbox-focus {
    background-color: #8785FF;
    bottom: 31px;
    right: 35px;
}

.quick-button-disabled {
    background-color: #4F4F4F;
    pointer-events: none;
}

.inbox-focus svg path[fill="#8885FF"] {
    background-color: #8785FF;
    fill: #ffffff;
}

.inbox-focus~.task {
    bottom: 31px;
    right: 128px;
}

.task {
    bottom: 31px;
    right: 214px;
}

.task-animate-in {
    -webkit-animation-name: taskAnimateIn;
    -webkit-animation-duration: 0.5s;

}

.task-animate-out {
    -webkit-animation-name: taskAnimateOut;
    -webkit-animation-duration: 0.5s;
}


@-webkit-keyframes taskAnimateIn {
    0% {
        opacity: 0;
        bottom: 40px;
        right: 40px;
        z-index: -1;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        bottom: 31px;
        right: 214px;
        z-index: 1;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

/* .modal-header.modal-inbox {
    padding-right: 25px;
} */

.modal-dialog {
    overflow-y: initial;
}

.modal-content {
    overflow-y: auto;
}

.modal-inbox {
    position: fixed;
    bottom: 110px;
    right: 34px;
    left: auto;
    /* height: 835px; */
    /* height: 435px; */
    /*biar editnya gampang */
    /* width: 735px; */
    height: 35vw;
    width: 50vw;
}

.modal-container {
    margin-right: 39px;
    margin-left: 29px;
}

.modal-search {
    height: 40px;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;

}

.input-search {
    padding-left: 60px;
    /* background: url('/public/assets/search.svg') no-repeat right; */
    /* background-image: url("{{ asset('/public/assets/search.svg') }}"); */
}

.input-search.new-message {
    padding-left: inherit;
}

.col-avatar {
    margin-right: 17px;
}

.avatar {
    vertical-align: middle;
    width: 41px;
    height: 41px;
    border-radius: 50%;
}

.chat-title {
    color: #2F80ED;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-right: 16px;
    cursor: pointer;
}

.chat-title:hover {
    text-decoration: underline;
}

.chat-balloon-right {
    padding-right: 30px;
}

.chat-sub-title {
    font-size: 14px;
}

.chat-sender {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -4px;
}

.chat-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-title-time {
    color: #4F4F4F;
}

.status-badge {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    margin-top: 2.4rem;
}

.chat-container {
    border-radius: 5px;
    padding: 0.7rem;
    width: fit-content;
}

.chat-left {
    padding-left: 1.2rem;
}

.chat-container.violet {
    background-color: #EEDCFF;
}

.chat-container.yellow {
    background-color: #FCEED3;
    margin-left: 10px;
}

.chat-container.green {
    background-color: #D2F2EA;
    margin-left: 10px;
}

.sender-name {
    font-weight: 700;
}

.button-chat-option {
    margin-left: 15px;
}

.button-chat-option-ri4eght {
    margin-right: 15px;
}

.sender-violet {
    color: #9B51E0;
}

.sender-yellow {
    color: #E5A443;
}

.sender-green {
    color: #43B78D;
}

.float {
    margin-top: 22px;
}

.float-right {
    float: right;
}

.padding-right-unset {
    padding-right: unset;
}

.padding-left-unset {
    padding-left: unset;
}

.line {
    height: 1px;
    background: black;
}

.line.left {
    margin-left: 30px;
}

.line.right {
    margin-right: 30px;
}

.line.red {
    background-color: #EB5757;
}

.line-title {
    margin-top: -12px;
    font-size: 18px;
    text-align: center;
    color: #4F4F4F;
}

.line-title.red {
    color: #EB5757;
}

.line-title.new-message {
    background-color: #E9F3FF;
    width: 141px;
    height: 34px;
    vertical-align: middle;
    padding-top: 5px;
    border-radius: 5px;
    color: #2F80ED;
}

.popover-body {
    width: 126px;
    height: 80px;
    padding: unset;
}

.button-option-popover {
    text-align: left;
}

.button-option-popover.edit {
    color: #2F80ED;
}

.button-option-popover:hover {
    background-color: lightgrey;
}

.button-option-popover.delete {
    color: #EB5757;
}

.button-send {
    width: 100%;
    height: 40px;
    background-color: #2F80ED;
    color: white;
}

.chat-animate-in {
    -webkit-animation-name: chatAnimateIn;
    -webkit-animation-duration: 0.5s;

}

@-webkit-keyframes taskAnimateIn {
    0% {
        bottom: 40px;
        right: 40px;
        z-index: -1;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        bottom: 31px;
        right: 214px;
    }
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

}
